<!-- section_11_faq.html - Extracted from original HTML -->
<section class="section-10">
            <h2 class="middle_title">Частые вопросы</h2>
            <div class="wrapper">
                <div class="col">
                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">Мой ребенок плохо разбирается <br>
                            в математике, подойдет ли ему курс?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">
                            Да, на наших курсах нет требований к начальному уровню подготовки. Преподаватели помогут
                            ребёнку разобраться
                            в сложных темах и заложить прочный фундамент
                            для старших классов.
                        </div>
                    </div>
                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">Какое оборудование и интернет нужны <br>
                            для комфортного обучения?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">Для занятий подойдёт практически любое устройство – компьютер, ноутбук,
                            планшет или смартфон. Главное – стабильное подключение к сети интернет, которое обеспечит
                            просмотр видео без задержек.</div>
                    </div>
                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">Кто такой куратор и чем они помогают?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">Куратор помогает ребенку усваивать материал. Куратор - профессиональный
                            преподаватель по математике, он проверит домашнюю работу, разберет вместе с ребенком ошибки,
                            поможет их исправить и всегда будет на связи. С куратором создается чат где есть родитель и
                            ребенок и можно общаться и лично созваниваться с куратором. С куратором невозможна ситуация
                            «я не понял тему»</div>
                    </div>


                </div>
                <div class="col">
                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">Можно оплачивать обучение <br>
                            материнским капиталом?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">Да, Вы можете оплатить обучение материнским капиталом, а также получить
                            налоговый вычет. Поможем с оформлением документов
                            и подачей заявлений.</div>
                    </div>
                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">Можно ли вернуть деньги?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">Да, 100% в первые 14 дней, после чего вы можете вернуть средства в любой
                            момент за все неиспользованные оплаченные занятия. Если вы приняли решение прекратить
                            обучение, просто свяжитесь с нами через личный кабинет, по электронной почте или через
                            мессенджеры.</div>
                    </div>

                    <div class="item">
                        <div class="title" onclick="toggleFaq(this)">В чем отличие онлайн-курса <br>
                            от репетитора?
                            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewbox="0 0 47 47" fill="none">
                                <rect width="47" height="47" rx="23.5" fill="#EAF0FF"></rect>
                                <path d="M24 12V35" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                                <path d="M35 24H12" stroke="#5773BC" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <div class="text">У репетитора вы платите за каждый час — в среднем от 1 500 руб. При занятиях
                            два раза в неделю это выходит от 12000 ₽ в месяц, и если тему нужно повторить — придётся
                            оплачивать дополнительные занятия. <br><br>
                            На нашем курсе формат онлайн-уроков, но за месяц от 5 000 ₽. В эту сумму входит два
                            онлайн-урока в неделю, домашки, тесты и доступ к записям, чтобы ребёнок мог пересматривать
                            объяснение столько раз, сколько нужно — бесплатно. За процесс отвечает личный куратор,
                            который помогает с заданиями и при необходимости повторно объясняет , чтобы разобрать
                            сложную тему.
                            В итоге вы платите в 2–3 раза меньше, а ребёнок получает в несколько раз больше практики,
                            обратной связи.<br><br>
                            Репетитор работает час за часом, а курс даёт ту же живую помощь — только с записями,
                            поддержкой и без переплат.</div>
                    </div>

                </div>

            </div>
        </section>